<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ADS 5
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ADS Mobile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click) = "exibirAlerta()" color="success">OK</ion-button>
    <ion-button (click) = "exibirPagina()" shape="round">Next Page!</ion-button>
  </div>
</ion-content>
